@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-gray-800 text-white text-sm md:text-base;
	font-family: 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
}

ul {
	@apply list-disc mt-2 mb-4;
}

ol {
	@apply list-decimal mt-2 mb-4;
}

li {
	@apply ml-8;
}

li ul {
	@apply list-disc m-0;
}

a {
	@apply underline;
}

h1 {
	@apply font-bold text-3xl mt-8 mb-4;
}

h2 {
	@apply font-bold text-xl mt-8 mb-2;
}

h3 {
	@apply font-bold text-lg mt-6 mb-3;
}

h4 {
	@apply font-bold text-base mt-2 mb-2;
}

p:not(:first-child) {
	@apply mt-4;
}

/* NOTE: prism のスタイルがうまく当たらないケースがあるため、少なくとも画面からコードがはみ出ないようにしておく */
pre {
	@apply bg-[#2d2d2d] overflow-auto;
	padding: 1em;
	padding-left: 1em;
	margin: 0.5em 0;
}

code {
	@apply bg-[#2d2d2d];
}

/* 移植したスタイル */
.flex-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}

.flex-content img {
	margin: 5px;
}

.scrollable-table {
	@apply my-4 max-w-full overflow-auto;
}

.scrollable-table table {
	@apply whitespace-nowrap;
}

.scrollable-table th,
.scrollable-table td {
	@apply px-2;
}
