@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-gray-800 text-sm text-white md:text-base;
	font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

ul {
	@apply mb-4 mt-2 list-disc;
}

ol {
	@apply mb-4 mt-2 list-decimal;
}

li {
	@apply ml-8;
}

li ul {
	@apply m-0 list-disc;
}

a {
	@apply underline;
}

h1 {
	@apply mb-4 mt-8 text-3xl font-bold;
}

h2 {
	@apply mb-2 mt-8 text-xl font-bold;
}

h3 {
	@apply mb-3 mt-6 text-lg font-bold;
}

h4 {
	@apply mb-2 mt-2 text-base font-bold;
}

p:not(:first-child) {
	@apply mt-4;
}

/* NOTE: prism のスタイルがうまく当たらないケースがあるため、少なくとも画面からコードがはみ出ないようにしておく */
pre {
	@apply overflow-auto bg-[#2d2d2d];
	padding: 1em;
	padding-left: 1em;
	margin: 0.5em 0;
}

code {
	@apply bg-[#2d2d2d];
}

/* 移植したスタイル */
.flex-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}

.flex-content img {
	margin: 5px;
}

.scrollable-table {
	@apply my-4 max-w-full overflow-auto;
}

.scrollable-table table {
	@apply whitespace-nowrap;
}

.scrollable-table th,
.scrollable-table td {
	@apply px-2;
}
