@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-gray-800 text-white text-sm md:text-base;
	font-family: 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
}

ul {
	@apply list-disc mt-2 mb-4;
}

li {
	@apply ml-8;
}

li ul {
	@apply list-disc m-0;
}

a {
	@apply underline;
}

h1 {
	@apply font-bold text-3xl mt-8 mb-4;
}

h2 {
	@apply font-bold text-xl mt-8 mb-2;
}

h3 {
	@apply font-bold text-lg mt-4 mb-2;
}

p {
  @apply mb-4;
}

/* NOTE: prism のスタイルがうまく当たらないケースがあるため、少なくとも画面からコードがはみ出ないようにしておく */
pre {
  padding: 1em;
  padding-left: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* 記事一覧の「続きを読む」リンク */
.link-more {
	@apply mt-4;
}

/* 移植したスタイル */
.impact-text {
  color: #00f;
  font-size: 20px;
  font-weight: bold;
}

.important-message {
  margin: 10px 0;
  color: rgb(216, 69, 69);
  font-size: 22px;
  font-weight: bold;
}

.important-message-large {
  margin: 30px 0;
  color: rgb(216, 69, 69);
  font-size: 30px;
  font-weight: bold;
}

.alert-message {
  color: rgb(216, 69, 69);
}

.sub-message {
  color: rgb(216, 69, 69);
  font-size: 11px;
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.flex-content img {
  margin: 5px;
}

.scrollable-table {
  max-width: 100%;
  overflow-x: auto;
}
