name: Deploy to Cloudflare Pages on merge
on:
  workflow_run:
    workflows:
      - CI
    types:
      - completed
    branches:
      - main
  workflow_dispatch:
  repository_dispatch:
    types:
      - upload_entry

jobs:
  build_and_deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event.client_payload.deploy }}
    runs-on: ubuntu-24.04
    env:
      PUBLIC_SITE_URL: https://k2ss.info
      CONTENTFUL_SPACE: ${{ secrets.CONTENTFUL_SPACE }}
      CONTENTFUL_ENVIRONMENT: ${{ secrets.CONTENTFUL_ENVIRONMENT }}
      CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
      CONTENTFUL_PREVIEW_TOKEN: ${{ secrets.CONTENTFUL_PREVIEW_TOKEN }}
      PREVIEW_SECRET: dummy # 開発時しか利用しないので適当な値を設定しておく
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.13"
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy build --project-name=k2ss-info --branch=main
